.tratamientosDesign {

height: 90vh;
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;

background-color: #f8f1ee;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

font-family: monospace;

}

.tittle {
    padding-top: 1em;

}
.treatmentsCards{

    margin-bottom: 5em;
    font-family: system-ui;
    padding-left: 0.5em;
    display: flex;
    justify-content: center;
}
.cardTreatmentDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
