.loginDesign {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    background-color: #f8f1ee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30em;

    font-family: monospace;
    font-size: 0.9em;
}

.errorText {
    color: red;
}

.botonLogin {

    height: 2em;
    width: 7em;
    background-color: #15aabf;
    color: white;
    cursor: pointer;

    border-radius: 0.5em;
    margin: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botonLogin:hover {

    transition: 0.2s;
    color: black;
}
.subtittle{
    display: flex;
    flex-direction: row;
    font-family: monospace;
    font-size: 1em;

}
.linkSubmit {
    margin-left: 0.5em;
    font-weight: bold;
    color:#15aabf;
    cursor: pointer;
}
.linkSubmit:hover {
    transition: 0.2s;
    color: darkgrey;
}
.tittleLogin{
    margin: 1em;
    font-family: "Rantera";
    font-size: 3em;
    color: #15aabf;
}