
.homeDesign {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    background-color: #f8f1ee;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: "Rantera";
    src: url(../../fonts/Rantera.otf) format('opentype');
}
@font-face {
    font-family: "Billion";
    src: url(../../fonts/Billion.otf) format('opentype');
}
.tittle {
    font-family: "Rantera";
    font-size: 3em;
    color: #15aabf;
    display: flex;
    justify-content: center;
    margin: 1.5em;
    
}
.content {
    display: flex;
    flex-direction: column;


    margin: 7em;
}
.tittleTwo{
    font-family: "Billion";
    font-size: 5em;
    margin-top: -0.3em;

}
.subtittleHome {
    font-family: system-ui;
    font-size: 1.2em;
}

.imgHome {
    height: 30em;
    width: 40em;
    display: flex;
    margin-left: 42em;
    margin-top: -27em;
    border-radius: 2em;
}

.pideCitaHome {

    height: 2em;
    width: 10em;
    border-radius: 0.5em;
    margin: 1em;

    background-color: #15aabf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pideCitaHome:hover {

    transition: 0.2s;
    background-color: #559199;
}
