
.container {
    background-color: #f8f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Rantera";
    src: url(../../fonts/Rantera.otf) format('opentype');
}
@font-face {
    font-family: "Billion";
    src: url(../../fonts/Billion.otf) format('opentype');
}
.tittle {
    font-family: "Rantera";
    font-size: 3em;
    color: #15aabf;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    
}
.tittleTwo{
    font-family: "Billion";
}

.homeDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20em;
}
.imgHome {
    height: 16em;
    width: 22em;
    border-radius: 2em;
    padding: 0.2em;
    margin: 0.5em;
}
.cardHomeText{
    margin: 0.5em;
}

@media  (max-width:360px) {

    .imgHome {
        height: 16em;
        width: 22em;
        border-radius: 2em;
        padding: 0.2em;
        margin: 0.5em;
    }
    .cardHomeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        margin: 2em;
        margin-top: -3em;
    }
}
@media  (min-width:1250px) {

    .imgHome {
        height: 25em;
        width: 35em;
        border-radius: 2em;
        margin-left: -4em;
        margin-top: -2em;

    }
    .cardHomeText{
        margin: 0.5em;
        width: 25em;
        font-size: 1.1em;
        margin-left: -6em;
    }
}

.cardOneHome{
    display: flex;
    justify-content: center;
}
.citaButton {
    height: 2em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}
.citaButton:hover{
    transition: 0.3s;
    color: black;
}

.titleHome{
    font-family: "Billion";
    font-size: 3em;
    padding: 3em;
    display: flex;
    justify-content: center;
}
.iconsHome{
    height: 15em;
    width: 15em;
}