
.normalInput {

    border-radius: 0.5em;
    border: 0.1em solid white;
    width: 20em;
    height: 2em;
    margin-top: 1em; 

    font-family: monospace;
}
.normalInputRegister {

    border-radius: 0.5em;
    border: 0.1em solid white;
    width: 20em;
    height: 2em;

    font-family: monospace;
}

.errorInput {

    color: red;
    border: 0.1em solid red;
    
}
