
.headerDesign {

    height: 10vh;
    width: 100vw;
    background-color: #f8f1ee;

    /* display: flex; */
    /* flex-direction: row; */

}
.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.submitLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: -4.45em;
}
.userForms, .webLinks {

    font-family: monospace;
    font-size: large;
    margin: 0.5em;
    color: #15aabf ;
    transition: 0.5s;
    cursor: pointer;
    margin: 1.5em;

}
.userForms {
    margin-top: 1.4em;
}

.userForms:hover, .webLinks:hover{

    transition: 0.5s;
    color: darkgrey;

}