
.headerDesign {

    height: 10vh;
    width: 100vw;

    background-color: #f8f1ee;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.linksDesign {

    display: flex;
    flex-direction: row;
}

.headerLink {

    font-weight: bolder;
    font-size: large;
    margin: 0.5em;
    color: #15aabf ;
    transition: 0.5s;
    cursor: pointer;
    font-family: monospace;
    margin: 1.5em;
}

.headerLink:hover {

    transition: 0.5s;
    color: darkgrey;

}