.appointmentsUserBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1.3em;
    color: #15aabf;
    
}
.appointmentsTittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    font-family: "Rantera";
    font-size: 1.5em;
}
.appointmentsLines{
    /* background-color: white; */
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.appointmentsApi {
    background-color: white;
    color: black;
    font-size: 0.7em;
    height: 2.5em;
    width: 23em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    margin-bottom: 0.5em;

}
.buttonsApp{
    display: flex;
    margin: 1em;
    justify-content: space-between;
}
.modificarCita, .eliminarCita {
    height: 3em;
    width: 9em;
    background-color: #15aabf;
    color: white;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    cursor: pointer;
}
.modificarCita:hover, .eliminarCita:hover {
    transition: 0.3s;
    color: black;
}

.boxInfo{
    border: white solid 0.1em;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0.2em;
    margin-bottom: 2em;
}
.newDate {
    display: flex;
    justify-content: center;
}
.appDate, .appTime{
    font-size: 0.8em;
    margin: 0.5em;
}
.formUpdateAppointment{
    width: 20em;
    height: 2.3em;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    border: grey 0.1em solid;
}

